Xft.dpi: 192 
Xcursor.size: 32

! These might also be useful depending on your monitor and personal preference:
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Start Flavours
! Base16 Generated
! Scheme: Flavours

#define base00 #1d2732
#define base01 #485058
#define base02 #72787e
#define base03 #9da1a4
#define base04 #c7c9ca
#define base05 #f2f2f0
#define base06 #f3f3f2
#define base07 #f5f5f4
#define base08 #839cab
#define base09 #acc3cc
#define base0A #467dac
#define base0B #5f73c5
#define base0C #5c7aa5
#define base0D #787687
#define base0E #557c9d
#define base0F #697b85

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
! End Flavours

!*background:   #161616
!*foreground:   #616161
*selbordercolor:  base02
*normbordercolor: base01
*selbgcolor:      base00 
*normbgcolor:     base00
*selfgcolor:      base07
*normfgcolor:     base05

